<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	Arbor Vitae reports is a service tied to <a href="http://new.familysearch.org/">new familysearch</a>,
	providing a wealth of reports to help researchers in their genealogical efforts, collaborate better 
	with others, etc.
</p>