<% provide(:title, 'About Us') %>
<h1>About Arbor Vitae Reports</h1>

<div class="row">
  <div class="span9 offset1">
    <p class="lead">
	  > Trying to figure out where to start with your family history research?<br><br>
	  > Have others in your family done a lot of family history research, but you don't know 
	  which lines have been researched - or what else can be found?<br><br>
	  > Are you looking for an easy way to find research direction for your family tree on FamilySearch? 
	</p>
    
	<p class="lead text-info">	
	  Arbor Vitae Reports is your answer!
	</p>

	<hr>
	<p>
	  Arbor Vitae Reports is linked to the  
	  <%= link_to "FamilySearch Family Tree", "https://familysearch.org/tree/", :target => "_blank" %>, 
	  and makes it easy to generate reports and summarize information for family history researchers.
    </p>
	<p>
	  Find information such as:
	  <ul>
	    <li>Who are my direct line ancestors?</li>
		<li>Who are my known ancestors at the end of each branch of the FamilySearch Family Tree?</li>
        <li>Which of my ancestors don't have complete vital information recorded on FamilySearch?</li>
	  </ul>
	</p>
	
	<br>
	<p>
	  <b>A special note...<br></b>
	  As you begin using Arbor Vitae Reports, you may find inaccuracies in your family information.
      Arbor Vitae Software doesn't guarantee the data accuracy of the reports. 
	  All data is dependant on the accuracy of information as contributed to the FamilySearch Family Tree from various 
	  sources and individuals.
	  We highly reccommend you review the information presented by all reports - for their accuracy, before drawing conclusions. 
	</p>
	
	<p>
	  FamilySearch makes it easy for users to contribute source information for each individual in the Family Tree. 
	  We suggest you familiarize yourself with the source contribution process, and join the ongoing collaborative effort 
	  to verify and validate data in your family lines.
	</p>

    <p>
      You may also find some data inaccuracies due to multiple duplicate individuals needing to be merged (or in some cases, individuals
	  who have been incorrectly merged). Please carefully follow all stated FamilySearch <%= link_to "guidelines for merging/unmerging individuals", "https://familysearch.org/learningcenter/lesson/family-tree-dealing-with-duplicate-records/630", :target => "_blank" %>
      in your family tree.
    </p>	  
	  
  </div>
</div>