<% provide(:title, 'Contact Us') %>
<h1>How to Contact Us</h1>
<p>
	For Sales Inquiries email: email@email.com<br>
	For General Inquiries email: info@arborvitae.com<br>
	For Technical Issues email: techsupport@arborvitae.com
</p>