<% provide(:title, 'Contact Us') %>
<h1>How to Contact Us</h1>

<div class="row">
  <div class="span9 offset1">
    <p>
	  For General Inquiries <%= mail_to "info@arborvitaesoftware.com", "info@arborvitaesoftware.com" %><br>
    </p>
  </div>
</div>