<div class="hero-unit center">
  <h1>Welcome to Arbor Vitae Reports!</h1>
  <h2>Find out where to start with your family history research</p></h2>
	
  <%= link_to "Sign up now!", instructions_path, class: "btn btn-large btn-primary" %>
</div>

<div class="row">
	<div class="span4">
		<h2>About Arbor Vitae Reports</h2>
		<p>Learn how to research your family tree on FamilySearch with Arbor Vitae Reports.</p>
		<p><%= link_to "About AV Reports &raquo;", about_path, class: "btn" %></p>
	</div>
	<div class="span4">
		<h2>View Demos</h2>
		<p>Watch online demonstrations to learn how Arbor Vitae reports can help you</p>
		<p><a class="btn" href="#">Watch demos &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Customer Testimonials</h2>
		<p>See what other researchers have said about using Arbor Vitae Reports.</p>
		<p><a class="btn" href="#">Read testimonials &raquo;</a></p>
	</div>
</div>