<%= link_to image_tag attachments["arbor_vitae_logo_sm.jpg"].url, alt: "Arbor Vitae") %>
<br>
<p><%= @user.first_name %>,</p>

<p>Your registration for Arbor Vitae is now complete!</p>

<p>Thank you for registering to use the Arbor Vitae website. Please add info@arborvitaesoftware.com to your email contacts now, to make sure you never miss any emails announcing new Arbor Vitae reports and features.</p>

<p>We invite you to <%= link_to "learn more about using Arbor Vitae", about_url %> to gain insight into your FamilySearch(TM) Family Tree.</p>

<p>Start using the <%= link_to "reporting tool", reports_url %> today!</p>

<p>Please share/follow us today! (Twitter, LinkedIn, Facebook)</p>

<p>Other link to register for paid reports...</p>

<p>Take a survey to request additional reports/features.</p>

<p>If you have questions about your registration, please contact us at help@arborvitaesoftware.com.</p>
