.styled-select select {
   background: transparent;
   width: 210px;
   padding: 4px;
   font-size: 13px;
   border: 1px solid #ccc;
   height: auto;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
}