<h2>Instructions</h2>

<b><p>Step 1: Select Starting Person</p></b> 
<p>First, select the starting person for the report. This will be the root person for the report, regardless of the report type.
Select 'Self' to set the current user as the starting person. Select 'Other' to open 
another field where you can enter a FamilySearch Person Identifier (i.e. KLMN-OPQ). 
To find a specific FamilySearch Person Identifier, either run a larger-scope report (such as Direct Line All)
and locate the Person Identifier you would like to use, or login to FamilySearch and use the site's search function.
</p>

<b><p>Step 2: Load Data</p></b>
<p>Next, click the 'Load' button to begin loading the data for your report. The data may take several seconds to load,
depending on the size of the data. After the data is loaded, you will be able to select a report type and run the report.
</p>

<b><p>Step 3: Select Report</p></b>
<p>Once the data is loaded, you may select a report from the 'Select Report' drop-down field. You may switch report types
for the data currently loaded.
</p>

<b><p>Step 4: Run Report</p></b>
<p>Finally, click the 'Run Report' button to generate the actual report. The report will show information related to the 
selected report type.
</p>

<br><br>

<b><p class="text-info">Reset Report Button</p></b>
<p>After data is loaded, you may click the 'Reset Report' button to refresh the report criteria and build a report
with a new starting person.
</p>

<b><p class="text-info">Reload Link</p></b>
<p>The 'Clear Data' link will appear after data is loaded. Select this option if you want to clear data for the currently
selected person. You may want to choose this option to reload data when changes are made to individuals in FamilySearch.
</p>