<% provide(:title, 'Reports') %>

<h1>How to Build a Report</h1>
<br>
<br>
<div class="row">
  <div class="span9 offset1">
    <%= render :partial => 'reports/report_instructions' %>
  </div>
</div>



