<% provide(:title, 'Reports') %>

<h1>Arbor Vitae Reports</h1>
<p>
  Arbor Vitae reports is a service tied to <a href="http://new.familysearch.org/">new familysearch</a>,
  providing a wealth of reports to help researchers in their genealogical efforts, collaborate better 
  with others, etc.
</p>
<br>
<br>

<h3>Report Description</h3>
<dl>
  <dt>End-of-Line Ancestors</dt>
    <dd>This report shows a list of all direct-line ancestors - at the end of each family tree branch.</dd><br>

  <dt>Direct Line Ancestors</dt>
    <dd>This report shows all direct line ancestors.</dd><br>

  <dt>Direct Line Missing Birth Date</dt>
    <dd>This report shows all direct line ancestors that are missing a birth date.</dd><br>

  <dt>Direct Line Missing Birth Place</dt>
    <dd>This report shows all direct line ancestors that are missing a birth place.</dd><br>

  <dt>Direct Line Incomplete Birth Date</dt>
    <dd>This report shows all direct line ancestors with an incomplete or missing birth date (i.e. June 1847; Abt 1900; etc.).</dd><br>

  <dt>Direct Line Incomplete Birth Place</dt>
    <dd>This report shows all direct line ancestors with an incomplete or missing birth date (i.e. USA; New York; etc.).</dd><br>

  <dt>Direct Line Missing Death Date</dt>
    <dd>This report shows all direct line ancestors that are missing a death date.</dd><br>

  <dt>Direct Line Missing Death Place</dt>
    <dd>This report shows all direct line ancestors that are missing a death place.</dd><br>

  <dt>Direct Line Incomplete Death Date</dt>
    <dd>This report shows all direct line ancestors with an incomplete or missing death date (i.e. USA; New York; etc.).</dd><br>

  <dt>Direct Line Incomplete Death Place</dt>
    <dd>This report shows all direct line ancestors with an incomplete or missing death place (i.e. USA; New York; etc.).</dd>
</dl>





